#product{
    padding: 140px 0;
}

#product .cont-info{
    padding-left: 40px;
}

#product h1{
    color: var(--color4);
    font-weight: bold;
}

#product .custom-badge {
    background-color: var(--color4);
    font-size: 0.9rem;
}

#product i{
    color: var(--color4);
    float: right;
    font-size: 25px;
    padding-right: 20px;
    cursor: pointer;
}
.container .accordion-item button{
    color: var(--color4);
    font-weight: bold;
    font-size: large;
} 

/* estilos al panel de acordeón activo */
.accordion-item > .accordion-header button {
    background-color: #68a4ac46; /* Cambia el color de fondo del panel seleccionado */
}

.accordion-item {
    margin-bottom: 20px;
}

.accordion-body {
    text-align: justify; /* Justifica el texto */
}

.cont-foto{
    max-width: 100%;
}
.cont-foto img{
    max-width: 60%;
    width: auto;
    display: inline-block;
}

.pesos-container {
    margin-bottom: 10px; /* margen inferior para separar el botón de la tabla */
}

.pesos-container .btn {
    width: 375px;
    border-color: black;
    opacity: 1;
    /* border-radius: 0%; */
}

.select-container {
    margin-bottom: 0px; /* 10px*/
}

.select-container select{
    border-color: var(--color4);
    color: var(--color4);
    font-weight: bold;
    font-size: 17px;
    background-color: #68a4ac46;
}

.nutrifacts-container {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    margin: auto; /* Para centrar el contenedor */
    flex-direction: column; /* Establece la dirección de los elementos como columna */
}

.nutrifacts {
    padding: 5px;
    border: 1px solid black;
    width: 375px;
}

.nutrifacts table {
    border-collapse: collapse; /* fusionar los bordes */
    width: 100%; /* 100 para que se expanda al tamaño contenedor */
}

.nutrifacts td{
    border-top: 1px solid black;
}

.separator {
    height: 8px;
    background-color: black;
}

.align-text-right {
    text-align: right;
}