/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* variable declare */
:root{
    --black: #000;
    --color1: #468494;
    --color2: #a4ece4;
    --color3: #173d4e;
    --color4: #68a4ac;
    --color5: #8eccc4;
}

/* Estilos generales */
*, ul{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
}

.seccion-oscura{
    color: white;
    background-color: var(--color4);
}

.seccion-clara{
    color: black;
    background-color: white;
}

.seccion-gris{
    color: black;
    background: #f5f5f5; 
}

/* Barra de navegacion */
nav{
    width: 100%;
    /* padding: 22px 0; */
}

.nav-item{
    margin: 0 12px;
    position: relative;
}

.nav-link{
    font-size: 15px;
    /* text-transform: capitalize; */
}

.nav-link:hover{
    color: var(--color3)!important;
    font-weight: bold;
}

.dropdown-item{
    color: var(--color3);
}

.dropdown-item:hover{
    color: var(--color4)!important;
    font-weight: bold;
}
.nav-btns i{
    /* color: var(--black); */
    font-size: 19px;
}

#search-form button{
    background-color: var(--color3);
    border-top-left-radius: 0; 
    border-bottom-left-radius: 0;
}

#search-form button:hover{
    background-color: #1d5068;
}

#search-form input{
    border-top-right-radius: 0; 
    border-bottom-right-radius: 0;
}

/* Seccion principal (sin sesión) */
#header{
    background: url(../img/suplements.png) top/cover no-repeat;
}
.carousel-inner h1{
    font-size: 60px;
    font-weight: bold;
    color: var(--color4);
    margin-bottom: 32px;
}

.carousel-item h2{
    font-size: 38px;
}

.carousel-item p{
    font-size: 20px;
} 

.carousel-item .btn{
    /* border-color: #fff!important; */
    width: 160px;
    display: inline-block;
    height: 60px;
    text-align: center;
    line-height: 50px;
    font-size: 17px;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    background-image: linear-gradient(16deg, var(--color1) 0%, var(--color4) 54%, var(--color5) 100%);
}
.carousel-item .btn:hover{
    background-image: linear-gradient(16deg, var(--color1) 0%, var(--color4) 34%, var(--color5) 100%);
}

/* Seccion principal (con sesión) */
#hero{
    background: url(../img/suplements.png) top/cover no-repeat;
}
.hero .container h1{
    font-size: 60px;
    font-weight: bold;
    color: var(--color4);
    margin-bottom: 32px;
}

.hero .container h2{
    font-size: 38px;
}

.hero .container p{
    font-size: 20px;
} 

.hero .container .btn{
    /* border-color: #fff!important; */
    width: 160px;
    display: inline-block;
    height: 60px;
    text-align: center;
    line-height: 50px;
    font-size: 17px;
    color: white;
    font-weight: 600;
    border-radius: 10px;
    background-image: linear-gradient(16deg, var(--color1) 0%, var(--color4) 54%, var(--color5) 100%);
}
.hero .container .btn:hover{
    background-image: linear-gradient(16deg, var(--color1) 0%, var(--color4) 34%, var(--color5) 100%);
}

/* Seccion caracteristicas */

.caracteristicas{
    padding: 80px 0 120px 0;
    text-align: center; 
}

.caracteristicas .title{
    margin-bottom: 10px;
}

.caracteristicas h2::before{
    position: absolute;
    content: "";
    width: 4px;
    height: 50px;
    background-color: var(--color4);
    left: -20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.caracteristicas h2{
    color: var(--color4);
    font-weight: bold;
}

.caracteristicas .card-body .card-title{
    color: var(--color4);
}
/* Fin Caracteristicas*/

/* Contacto */
.contacto{
    background-color: var(--color3);
}
.contacto .container{
    max-width: 1100px;
    min-height: 165px;
    padding: 20px;
}

.contacto .rectangulo{
    margin-top: -6rem; /*crea efecto -> elem esta entre una seccion y otra*/
    background-color: var(--color4);
    border-radius: 10px;
    box-shadow: 0px 1px 4px 1px white;
}

.contacto .row{
    width: 100%;
    display: flex; /*para que siempre se mantengan una sola fila*/
    align-items: center;
}

.contacto .descripcion{
    color: white;
    font-size: 1.2rem;
}

.contacto button{
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid white;
    padding: 1.25em 2em; /*unidad relativa al tamaño del texto del contenedor*/
    margin: 10px;
    border-radius: 100px;
    transition: all 0.2s ease-in-out;
}

.contacto button:hover{
    background-color: white;
    color: var(--color4);
}

.contacto button i{
    color: white;
    font-size: 1.3rem;
    transition: all 0.2s ease-in-out;
}

.contacto button:hover i{
    color: var(--color4);
}

/*Inicio pie de pagina*/
footer {
    font-size: 12px;
    text-align: center;
    background-color: #173d4e; 
    color: #fff; 
    padding: 10px; 
}

.useful-links{
    margin-top: 5px;
    list-style: none;
    padding: 0;
}

.useful-links li {
    margin-bottom: 10px; 
}
ul {
    list-style: none; 
}

.useful-links a {
    text-decoration: none; 
    color: white; 
}

.useful-links a:hover {
    color: #a4ece4; 
}

.copyright{
    text-align: center;
}

/*Fin pie de pagina*/
