/* Estilos para la sección de favoritos */
.favoritos {
    min-height: 475px;
}

.favoritos .title h2 {
    color: var(--color4);
    font-weight: bold;
}

.favoritos i {
    color: var(--color4);
}

.card-img {
    max-width: 100%;
}

.card-img img {
    max-width: 60%;
    width: auto;
    display: inline-block;
}

.favoritos .card-body {
    border-radius: 4px;
}

.favoritos .card {
    cursor: pointer;
}

.favoritos .card:hover .card-body {
    background-color: var(--color4);
    border-color: var(--color4) !important;
    color: white !important;
}

.favoritos .card:hover {
    border: 3px solid var(--color4);
}

.favoritos .card:hover .card-body i {
    color: white !important;
}

.favoritos .card h3 {
    font-weight: bold;
    text-shadow: 0px 0px 1px black;
}

.favoritos .card h5 {
    font-weight: 350;
}

.favoritos .card h5 span {
    color: black;
    float: right;
}

.favoritos .no-fav h4 {
    padding: 8px;
    color: var(--color4);
}

.heart-img {
    max-width: 100%;
}

.heart-img img {
    align-items: center;
    width: 130px; /* O el ancho deseado */
    height: auto;
}