/* catalogo */

.catalogo .title h2::before{
    position: absolute;
    content: "";
    width: 4px;
    height: 50px;
    background-color: var(--color4);
    left: -20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.catalogo .title h2{
    /* font-size: 38px; */
    color: var(--color4);
    font-weight: bold;
}

.catalogo i{
    color: var(--color4);
}

.card-img{
    max-width: 100%;
}
.card-img img{
    max-width: 60%;
    width: auto;
    display: inline-block;
}

.catalogo .card-body{
    border-radius: 4px;
}
.catalogo .card{
    cursor: pointer;
}
.catalogo .card:hover .card-body{
    background-color: var(--color4);
    border-color: var(--color4)!important;
    color: white!important;
}
.catalogo .card:hover {
    border: 3px solid var(--color4); 
}

.catalogo .card:hover .card-body i{
    color: white!important;
}

.catalogo .card h3{
    font-weight: bold;
    text-shadow: 0px 0px 1px black;
}
.catalogo .card h5 {
    font-weight: 350;
}
.catalogo .card h5 span{
    color: black;
    float: right;
}