/* Seccion cuenta */
.cuenta .container{
    padding: 104px 0 80px 0;
}

.cuenta .container h2{
    /* font-size: 38px; */
    color: var(--color4);
    font-weight: bold;
}

.user i{
    color: var(--color4);
    margin: 10px 0 0 20px;
    font-size: 40px;
}

.formulario .container h2 {
    font-size: 2em;
    margin: 0 0 20px;
    font-weight: 400;
    color: var(--color4);
}
.formulario .container p {
    margin: 0 0 -5px;
}

.cuenta .tab-content{
    margin-top: 10px;
}
.cuenta .form-label, .cuenta h6{
    font-weight: bold;
    color: var(--color4);
    font-size: 18px;
}
.cuenta .form-label{
    margin-top: 10px;
}
.cuenta h6{
    margin: 10px 0 18px 0;
}
.cuenta .alert{
    margin: 0;
}
.cuenta .btn{
    padding: 0;
}
.cuenta .btn .btn-actualizar, .cuenta .btn .btn-borrar{
    display: inline-block;
    text-align: center;
    padding: 10px;
    border: none;
    font-size: 17px;
    font-weight: 600;
    color: white;
    border-radius: 10px;
    width: 300px;

}

.cuenta .btn .btn-actualizar{
    background-image: linear-gradient(16deg, var(--color1) 0%, var(--color4) 54%, var(--color5) 100%);
    margin-top: 20px;
}

.cuenta .btn .btn-actualizar:hover{
    background-image: linear-gradient(16deg, var(--color1) 0%, var(--color4) 34%, var(--color5) 100%);
    cursor:pointer;
}

.cuenta .btn .btn-borrar{
    background-image: linear-gradient(16deg, #aa231f 0%, #c7231d 54%, #ec371f 100%);
}

.cuenta .btn .btn-borrar:hover{
    background-image: linear-gradient(16deg, #aa231f 0%, #c7231d 34%, #ec371f 100%);
    cursor:pointer;
}

.cuenta .btn-perfil{
    margin-top: 20px;
    width: 300px;
}

.alerta{
    text-align: center;
    color: red;
}

.success{
    text-align: center;
    color: rgb(33, 129, 30);
}

.cuenta {
    background: #f5f5f5;
    margin-top: 20px;
}

label.btn {
    margin-bottom: 0;
}

.card {
    background-clip: padding-box;
    box-shadow     : 0 1px 4px rgba(24, 28, 33, 0.012);
}

.row-bordered {
    overflow: hidden;
}

.account-settings-fileinput {
    position  : absolute;
    visibility: hidden;
    width     : 1px;
    height    : 1px;
    opacity   : 0;
}

.account-settings-links .list-group-item.active {
    font-weight: bold !important;
}

html:not(.dark-style) .account-settings-links .list-group-item.active {
    background: transparent !important;
}

.account-settings-multiselect~.select2-container {
    width: 100% !important;
}

.light-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

.light-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}

.material-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

.material-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
}

.dark-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(255, 255, 255, 0.03) !important;
}

.dark-style .account-settings-links .list-group-item.active {
    color: #fff !important;
}

.light-style .account-settings-links .list-group-item.active {
    color: #4E5155 !important;
}

.light-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
}

.form-newpwd .form-group input {
    border: 1px solid var(--color4);
}

input[readonly] {
    background-color: #f0f0f0;
    color: #666;
    border: 1px solid #ddd;
    cursor: not-allowed; /* Cambiar el cursor para indicar que no se puede editar */
}

.error {
    position: absolute;
    color: rgb(168, 14, 14);
    font-weight: bold;
    top: 82px; /* Mueve el mensaje de error hacia arriba */
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #ffcccc; /* Color de fondo para los mensajes de error */
    padding: 10px;
    border-radius: 5px; /* Añade bordes redondeados al mensaje de error */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Añade una sombra alrededor del mensaje de error */
}