/* Seccion formulario */
.formulario .container{
    padding-top: 104px;
}

.formulario .container h2 {
    font-size: 2em;
    margin: 0 0 20px;
    font-weight: 400;
    color: var(--color4);
}
.formulario .container p {
    margin: 0 0 -5px;
}

form {
    padding: 25px;
    margin: 25px;
    background: #fff; 
    border-radius: 0.7%;
}

.container .form-group .label{
    color: var(--color4);
}

.container .form-group input {
    width: calc(100% - 18px);
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid var(--color4);
    outline: none;
    border-radius:0.40em; 
}

.container .form-group input::placeholder {
    color: #666;
}

#btn_registrar{
    display: inline-block;
    text-align: center;
    background-image: linear-gradient(16deg, var(--color1) 0%, var(--color4) 54%, var(--color5) 100%);
    padding: 10px;
    border: none;
    font-size: 17px;
    font-weight: 600;
    color: white;
    border-radius: 10px;
}

#btn_registrar:hover{
    cursor:pointer;
    background-image: linear-gradient(16deg, var(--color1) 0%, var(--color4) 34%, var(--color5) 100%);
}

input[type="submit"]:hover{
    background: #68a4ac;
}

.alerta{
    text-align: center;
    color: red;
}

.success{
    text-align: center;
    color: rgb(33, 129, 30);
}

.error {
    position: absolute;
    color: rgb(168, 14, 14);
    font-weight: bold;
    top: 90px; /* Mueve el mensaje de error hacia arriba */
    left: 0;
    width: 100%;
    text-align: center;
    background-color: #ffcccc; /* Color de fondo para los mensajes de error */
    padding: 10px;
    border-radius: 5px; /* Añade bordes redondeados al mensaje de error */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Añade una sombra alrededor del mensaje de error */
}
